<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ############# add ros2_control => INSERT EPMC_HARDWARE_INTERFACE ############### -->

    <ros2_control name="epmc_ros2_control" type="system">

      <hardware>
        <plugin>epmc_hardware_interface/EPMCHardwareInterface</plugin>
        <param name="motorA_wheel_name">left_wheel_joint</param>
        <param name="motorB_wheel_name">right_wheel_joint</param>
        <param name="port">/dev/ttyUSB0</param>
        <!-- <param name="port">/dev/serial/by-path/pci-0000:00:14.0-usb-0:1.4:1.0-port0</param> -->
      </hardware>

      <joint name="left_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param> <!-- rad/sec -->
            <param name="max">10.0</param> <!-- rad/sec -->
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_wheel_joint">
        <command_interface name="velocity">
            <param name="min">-10.0</param> <!-- rad/sec -->
            <param name="max">10.0</param> <!-- rad/sec -->
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <!-- ################################################################# -->

</robot>
