<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobo_bot">

    <xacro:arg name="use_simulation" default="false"/>

    <xacro:macro name="inertial_sphere" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                    izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>  

    <xacro:macro name="inertial_box" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                    izz="${(1/12) * mass * (x*x+y*y)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>


    <material name="orange">
        <color rgba="1 0.55 0 1"/>
    </material>

    <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
    </material>

    <material name="silver">
        <color rgba="0.6 0.6 0.6 1"/>
    </material>



    <xacro:property name="chassis_length" value="0.21"/>
    <xacro:property name="chassis_width" value="0.21"/>
    <xacro:property name="chassis_height" value="0.06"/>
    <xacro:property name="chassis_mass" value="2.0"/>

    <xacro:property name="wheel_seperation" value="0.24"/>
    <xacro:property name="wheel_radius" value="0.0335"/>
    <xacro:property name="wheel_width" value="0.014"/>
    <xacro:property name="wheel_mass" value="0.08"/>

    <xacro:property name="castor_wheel_radius" value="${wheel_radius}"/>
    <xacro:property name="castor_wheel_mass" value="0.04"/>


    <link name="base_link">  
    </link>


    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0 0 ${wheel_radius}"/>
    </joint>

    <link name="chassis">
        <visual>
          <origin xyz="-0.02 0 ${chassis_height/2}" rpy="0 0 0"/>
          <geometry>
              <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
          </geometry>
          <material name="orange"/>
        </visual>
        <collision>
           <origin xyz="-0.02 0 ${chassis_height/2}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassis_mass}" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}">
            <origin xyz="-0.02 0 ${chassis_height/2}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>


    <joint name="left_wheel_joint" type="continuous">
      <parent link="chassis"/>
      <child link="left_wheel"/>
      <origin xyz="0 ${wheel_seperation/2} 0" rpy="${-pi/2} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <link name="left_wheel">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
          </geometry>
          <material name="black"/>
      </visual>
      <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
          </geometry>
      </collision>
      <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_width}" radius="${wheel_radius}">
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <xacro:if value="$(arg use_simulation)">
        <gazebo reference="left_wheel">
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
        </gazebo>
    </xacro:if>



    <joint name="right_wheel_joint" type="continuous">
      <parent link="chassis"/>
      <child link="right_wheel"/>
      <origin xyz="0 ${-wheel_seperation/2} 0" rpy="${-pi/2} 0 0"/>
      <axis xyz="0 0 1"/>
    </joint>

    <link name="right_wheel">
      <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
          </geometry>
          <material name="black"/>
      </visual>
      <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
              <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
          </geometry>
      </collision>
      <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_width}" radius="${wheel_radius}">
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>

    <xacro:if value="$(arg use_simulation)">
        <gazebo reference="right_wheel">
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
        </gazebo>
    </xacro:if>



    <joint name="castor_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="castor_wheel"/>
        <origin xyz="-0.095 0 ${castor_wheel_radius/2}"/>
    </joint>


    <link name="castor_wheel">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${castor_wheel_radius/2}" />
            </geometry>
            <material name="grey">
                <color rgba="0.25 0.25 0.25 1"/>
            </material>
        </visual>
        <collision>
           <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${castor_wheel_radius/2}" />
            </geometry>
        </collision>
        <xacro:inertial_sphere mass="${castor_wheel_mass}" radius="${castor_wheel_radius/2}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    </link>

    <xacro:if value="$(arg use_simulation)">
        <gazebo reference="castor_wheel">
            <mu1>0.001</mu1>
            <mu2>0.001</mu2>
        </gazebo>
    </xacro:if>



    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu"/>
        <origin xyz="0 0 ${chassis_height}"/>
    </joint>


    <link name="imu">
    </link>

    <xacro:if value="$(arg use_simulation)">
        <gazebo reference="imu">
            <sensor name="imu" type="imu">
              <ignition_frame_id>imu</ignition_frame_id>
              <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
              </plugin>

              <topic>imu/data</topic>
              <always_on>true</always_on>
              <update_rate>10</update_rate>
              <visualize>true</visualize>
              <imu>
                <angular_velocity>
                  <x>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>2e-4</stddev>
                      <bias_mean>0.0000075</bias_mean>
                      <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                  </x>
                  <y>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>2e-4</stddev>
                      <bias_mean>0.0000075</bias_mean>
                      <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                  </y>
                  <z>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>2e-4</stddev>
                      <bias_mean>0.0000075</bias_mean>
                      <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                  </z>
                </angular_velocity>
                <linear_acceleration>
                  <x>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>1.7e-2</stddev>
                      <bias_mean>0.1</bias_mean>
                      <bias_stddev>0.001</bias_stddev>
                    </noise>
                  </x>
                  <y>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>1.7e-2</stddev>
                      <bias_mean>0.1</bias_mean>
                      <bias_stddev>0.001</bias_stddev>
                    </noise>
                  </y>
                  <z>
                    <noise type="gaussian">
                      <mean>0.0</mean>
                      <stddev>1.7e-2</stddev>
                      <bias_mean>0.1</bias_mean>
                      <bias_stddev>0.001</bias_stddev>
                    </noise>
                  </z>
                </linear_acceleration>
              </imu>
            </sensor>
        </gazebo>     
    </xacro:if>



    <joint name="sonar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="sonar"/>
        <origin xyz="0.0825 0 ${chassis_height/6}" rpy="0 0 0"/>
    </joint>

    <link name="sonar">
        <visual>
            <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.006"/>
            </geometry>
            <material name="blue">
                <color rgba="0.2 0.2 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.006"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 -0.01 0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.006"/>
            </geometry>
            <material name="blue">
                <color rgba="0.2 0.2 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.01 0" rpy="0 ${pi/2} 0"/>
            <geometry>
                <cylinder radius="0.006" length="0.006"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder mass="0.005" length="0.006" radius="0.006">
            <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
        </xacro:inertial_cylinder>
    </link>




    <xacro:property name="lidar_z_offset" value="0.04"/>
  
    <joint name="lidar_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar"/>
        <origin xyz="0.01 0 ${chassis_height+lidar_z_offset}" rpy="0 0 0"/>
    </joint>

    <link name="lidar">
        <visual>
            <origin xyz="0 0 -0.02"/>
            <geometry>
                <cylinder radius="0.03" length="0.04"/>
            </geometry>
            <material name="grey">
                <color rgba="0.25 0.25 0.25 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.02"/>
            <geometry>
                <cylinder radius="0.03" length="0.04"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.03">
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <xacro:if value="$(arg use_simulation)">
      <gazebo reference="lidar">
        <sensor name="lidar" type="gpu_lidar">
          <pose> 0 0 0 0 0 0 </pose>
          <ignition_frame_id>lidar</ignition_frame_id>
          <topic>lidar/scan</topic>
          <always_on>true</always_on>
          <visualize>true</visualize>
          <update_rate>10</update_rate>
          <ray>
            <scan>
                <horizontal>
                    <samples>360</samples>
                    <min_angle>${-pi*2}</min_angle>
                    <max_angle>${pi*2}</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>0.1</min>
                <max>10.0</max>
            </range>
          </ray>
        </sensor>
      </gazebo>
    </xacro:if>



    <xacro:if value="$(arg use_simulation)">
        <xacro:include filename="$(find mobo_bot_description)/urdf/controllers/gazebo_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_simulation)">
        <xacro:include filename="$(find mobo_bot_description)/urdf/controllers/epmc_ros2_control.xacro" />
    </xacro:unless>

</robot>
